{% extends "base/base.html" %}

{% block title %} {{title}} {%endblock%}

{% block content %}




    
    
<!--todo esto lo puse yo-->
    

             <!--esta linea era la que me faltaba para que me muestre el error-->
        <form name="sentmessage" id="contactform" method="POST" 
            <div class="container">
                <div class="form-signin">       
                    <h2 class="form-signin-heading">Please login</h2>
                    

            
                        
                    <label class="checkbox">
                    
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
                </div>
            </div>
        </form>
        </div>
    
        
    


{%endblock%}


